language: rust

addons:
  apt:
    packages:
      - libudev-dev

rust:
  - stable
  - beta
  - nightly

arch:
  - amd64
  - arm64

jobs:
  include:
    - stage: Coverage
      addons:
        apt:
          packages:
            - libssl-dev
            - libudev-dev
      arch: amd64
      rust: stable
      cache: cargo
      script:
        - cargo install cargo-tarpaulin
        - cargo tarpaulin --out Xml
        - bash <(curl -s https://codecov.io/bash)